{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block content %}
 <section>
      <div class="container">
          <div class="row declaration-row">
              <div class="col-md-8 declaration-home blue1">

              <h1>Ooops!!! 500</h1>

              <h3>Looks like something went wrong!</h3>

              <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>

              </div>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}


