<div id="declarationCreate" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form action="" method="post">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Declaration</h4>
      </div>

      <div class="modal-body">
            {% csrf_token %}

            <h1>
              I AM {{ form.text }}
            </h1>
            <h3>Author {{ form.author }}</h3>
            <h3>{{ form.anonymous }} Anonynomus</h3>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Post" class="btn btn-primary btn-lg" />
      </div>
      </div>
    </form>

  </div>
</div>
