{% extends "base.html" %}
{% load static %}

{% block title %}{{ declaration }} - post a declaration @{% endblock title %}
{% block meta %}
  <meta property="og:url" content="https://www.declareshare.com{% url "declaration:detail" declaration.id %}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ declaration }}" />
	<meta property="og:description" content="Planning on taking over the world? Maybe you’ve decided to be the first to climb Mount Everest while wearing fuzzy pink bunny slippers? Who are you? Who do you want to be? What will you do? Proclaim, announce and declare it here -- the world wants to know!" />
	<meta property="og:image" content="{% static 'images/declare.png' %}" />


{% endblock meta %}

{% block content %}
  <section class="" id="detail">
      <div class="container">
          <div class="row declaration-row">
              <div class="col-md-6 declaration-home blue1">
                <h1>{{ declaration }}</h1>
                <p>
                  This is declaration was made on {{ declaration.date_created|date:"M d, Y" }} by
                {{ declaration.display_author }}
                </p>

                <p>
                  <a class="btn btn-primary btn-lg btn-declaration" href="{% url 'declaration:choose' %}#create">Post your own »</a>
                </p>

                <div>
                  <div>
                    <a href="https://twitter.com/share" class="twitter-share-button"{count}>Tweet</a>
                    <script>
                      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                    </script>
                  </div>
                  <div class="">
                    <div class="fb-share-button"
                         data-href="http://www.declareshare.com/declaration/{{ declaration.id }}"
                         data-layout="button">
                  </div>

                </div>
              </div>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}
