{% extends "base.html" %}

{% block meta %}
    <meta property="og:title" content="Your awesome title goes here, about 90 characters in length."/>
    <meta property="og:description" content="Compelling description of URL that is about 300 characters in length."/>
    <meta property="og:url" content="http://declarationshare.com/">
    <meta property="og:image" content="YOURIMAGEURLGOESHERE.JPG">
    <meta property="og:type" content="blog"/>
{% endblock meta %}


{% block content %}

  <section class="" id="detail">
      <div class="container">
          <div class="row declaration-row">
              <div class="col-md-6 declaration-home blue">
                <h1>{{ declaration }}</h1>
                <p>
                  This is declaration was made on {{ declaration.date_created|date:"M d, Y" }} by
                {{ declaration.display_author }}

                </p>

                <p>
                  <a class="btn btn-primary btn-lg" href="{% url 'declaration:new' %}#create">Post your own »</a>
                </p>
            </div>

            <div class="col-md-3 declaration-box seafoam">
            </div>
            <div class="col-md-3 declaration-box yellow">
            </div>

        </div>
    </div>
  </section>


{% endblock content %}
