{% extends "base.html" %}

{% block content %}

  <section class="bg-primary" id="create">
      <div class="container-fluid">
          <div class="row">
              <div class="text-center">

                <form action="" method="post" class="form-horizontal">
                {% csrf_token %}

                  <div class="form-group">
                    <label for="text" class="col-sm-2 control-label">I am</label>
                    <div class="col-sm-4">
                    {{ form.text }}
                    </div>
                  </div>

                 <div class="form-group">
                    <label for="author" class="col-sm-2 control-label">Author</label>
                    <div class="col-sm-4">
                    {{ form.author }}
                    </div>
                 </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-4">
                    <div class="checkbox">
                      <label>{{ form.anonymous }} Anonymous</label>
                    </div>
                  </div>
                </div>

                <input type="submit" value="Post" class="btn btn-primary btn-lg" />
              </form>


              </div>
          </div>
      </div>
  </section>

{% endblock content %}

{% block additional-js %}
 <script>
  $('.dropdown-toggle').dropdown()
 </script>
{% endblock additional-js %}
