{% extends "base.html" %}

{% block content %}
 <section class="" id="about">
      <div class="container">
        <div class="row declaration-row">
          <div class="col-md-8 declaration-about blue1">
            <h2 class="section-heading">About the project</h2>
            <p>
              Like most ideas, Declare Share was a remix of other ideas, specifically:
              A mural of "I AM" statements on the wall outside of my office
              building and the oncoming storm of New Years’ resolutions. Although, it is not
              the best idea I have ever had, it is an important milestone for me personally.
            </p>
            <p>
              I regularly come up with ideas, good and bad (fine...mostly
              bad) and enjoy sharing them with friends and coworkers. Some ideas are good
              enough to spur me to action. At the start of each new project, my excitement level
              is high, and I am convinced that this project will be THE ONE. Then slowly, the
              excitement fades, I begin to doubt everything about it, and development stops. "Just
              put that one with all the others on top of Almost-done Mountain..."
            </p>
            <p>
              Recently, a friend recommended I read a few chapters of <i>Linchpin</i> by
              <a class="about-link" href="http://www.sethgodin.com/sg/">Seth Godin</a>. Somewhere in the
              middle of the book is a chapter of pure gold titled: The Resistance. This
              chapter focuses on what is getting in the way you finishing your idea (spoiler:
              it's you) and how to overcome that resistance. Armed with this new knowledge, I
              set out to take an idea from start to finish. What you see on this site is the result.
            </p>

            <h2>The Future</h2>
            <p>
              Declare Share has a lot of possibilities and potential features.
              I decided to take the minimum viable product approach, picked a small set of
              features, and set a deadline. For now, it’s designed to allow anyone to
              publically declare and share their intentions to the world. Later? It
              will be so much more.
            </p>

            <h2>About Me</h2>
            <p>
              I'm Edward Emanuel Jr., a software engineer at a small company in the Midwest. I like blogging about
              <a class="about-link" href="http://gamedev.devicezero.com/">game development</a>.
              Sometimes, I make <a class="about-link" href="https://www.etsy.com/shop/DeviceZero">robot sculptures</a>
              and sell them.
            </p>
            <p>
              If you'd like to contact me, my email is: edwardemanuel -at- gmail dot com.
            </p>

            <h2 class="section-heading">Donations</h2>
            <p>
              Any donations will go to cover hosting and maintenance cost.
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="5L5TACFR6GNQU">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>

            </p>
          </div>


        </div>
      </div>
{% endblock content %}
